@font-face {
  font-family: Iconic;
  src: url(https://api.jimmytechnology.com/font/Iconic.ttf);
}

h5 {
  font-weight: 500 !important;
}

#fab-main-area-65150cd97e5e7 {
  position: fixed !important;
  font-family: Iconic, sans-serif !important;
  z-index: 99999 !important;
}

#fab-text-container-65150cd97e5e7 h5 {
  font-family: Iconic, sans-serif !important;
}

#fab-header-65150cd97e5e7 {
  font-family: Iconic, sans-serif !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

.fab-content-text-65150cd97e5e7 {
  font-family: Iconic, sans-serif !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

#fab-text-container-65150cd97e5e7 {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  background: white !important;
  border-radius: 10px !important;
  color: #374151 !important;
}

.fab-content-list-65150cd97e5e7 {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  border-top: 1px solid rgb(229 231 235) !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  font-weight: 500 !important;
}

#fab-button-container-65150cd97e5e7 {
  display: flex !important;
  gap: 0.5rem !important;
  align-items: center !important;
  white-space: nowrap !important;
}

#fab-button-65150cd97e5e7 {
  border-radius: 50% !important;
  border: 0px !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#fab-button-65150cd97e5e7 i {
  font-size: 32px !important;
}

#fab-button-65150cd97e5e7 svg {
  font-size: 32px !important;
}

#fab-inner-div-65150cd97e5e7 {
  position: absolute !important;
}

#fab-header-65150cd97e5e7 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  min-width: 300px !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 1.4;
}

#fab-content-lists-65150cd97e5e7 {
  line-height: 1.4;
  cursor: pointer !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  font-weight: 500 !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
}

/* Long button #1 */

#fab-button-long-1-65150cd97e5e7 {
  border-radius: 9999px !important;
  border: 0px !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  padding-left: 30px !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
  gap: 1rem !important;
}

#fab-button-long-1-65150cd97e5e7 h5 {
  font-weight: 500;
}

#fab-button-long-1-65150cd97e5e7 i {
  font-size: 32px !important;
}

#fab-button-long-1-65150cd97e5e7 svg {
  font-size: 32px !important;
}

#fab-img-65150cd97e5e7 {
  max-width: none;
}

/* Long button #2 */

#fab-button-long-2-65150cd97e5e7 {
  width: auto;
  padding-left:10px;
  background-color: white !important;
  border-radius: 9999px !important;
  border: 0px !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  font-size: 32px !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
  gap: 1rem !important;
}

#fab-button-long-2-65150cd97e5e7 h5 {
  font-weight: 500;
  color: #374151 !important;
}

#fab-button-long-2-65150cd97e5e7 i {
  font-size: 32px !important;
}

#fab-button-long-2-65150cd97e5e7 svg {
  font-size: 32px !important;
}

#logo-container-65150cd97e5e7 {
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  right: 3px;
  position: absolute;
}

#fab-button-cover-65150cd97e5e7 {
  position: absolute;
  border-radius: 9999px;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

#pluginButtonContents-65150cd97e5e7 {
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: opacity;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}