#fab-main-area {
  position: fixed;
  font-family: Arial;
  width: 75px;
  height: 75px;
  z-index: 99999;
  right: 20px;
  bottom: 20px;
}

#fab-text-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  background: white;
  border-radius: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #374151;
}

.fab-content-list {
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid rgb(229 231 235);
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
}

#fab-button-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  white-space: nowrap;
}

#fab-button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 0px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  font-size: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fab-button img {
  width: 35px;
  height: 35px;
}

#fab-inner-div {
  position: absolute;
}

#fab-header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-width: 350px;
  font-weight: 600;
  font-size: 20px;
}

#fab-content-lists {
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: "rgb(75 85 99)";
  font-weight: 500;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* Long button #1 */

#fab-button-long-1 {
  width: 100%;
  height: 75px;
  border-radius: 9999px;
  border: 0px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  font-size: 32px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
}

#fab-button-long-1 h5 {
  font-size: 1.125rem;
}

/* Long button #2 */

#fab-button-long-2 {
  background-color: white !important;
  width: 100%;
  height: 75px;
  border-radius: 9999px;
  border: 0px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  font-size: 32px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
}

#fab-button-long-2 h5 {
  font-size: 1.125rem;
  color: #374151;
}

#logo-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
